.navigation-section {
    margin-bottom: 10px;
}

.artist-name {
    color: aliceblue;
    text-align: center;
    position: relative;
    display: table;
    width: 100%;
}

.artist-name h1 {
    display: table-cell;
    vertical-align: middle
}

.transparent-btn {
    margin: 0px;
    padding: 2%;
    border: none;
    border: solid 1px #15dbce;
    background:transparent;
    font-size: 14pt;
    color: #15dbce;
    cursor: pointer;
    font-family: sans-serif;
}

.transparent-btn:hover {
    background: #15dbce;
    color:aliceblue; 
}

.btn-left{
    border-radius: 5px 0px 0px 5px;
}
.btn-right{
    border-radius: 0px 5px 5px 0px;
}

.btn-active{
    background: #15dbce;
    color:aliceblue; 
}

.nav-btns{
text-align: center; 
}

.close-btn{
    width: 10%;
}